# Project Files
/package-lock.json
.vagrant
/codeception.yml
/.phpstorm_helpers/
Thumbs.db
.DS_Store
*.pydevproject
.metadata
.gradle
bin/
node_modules/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.project
.externalToolBuilders/
*.launch
.cproject
.classpath
.factorypath
.buildpath
.target
.texlipse
.sass-cache/
*.css.map
composer.phar
/vendor/
*.bat
.idea
/nbproject/*
CachedContainer.php
/App/Controller/Test/TestController.php
/.idea/*
/Docker/env/*.env
!.gitignore
